* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    background-color: #163A24;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */

.site-header {
    padding-top: 21px;
    padding-bottom: 25px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__actions a {
    color: #fff;
}

.header__started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 52px;
    background-color: #198C36;
    border-radius: 52px;
}

/* clerky */


.hero {
    padding-top: 120px;
    padding-bottom: 130px;
    background-image: url('./assets/images/hero.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 200px) 50%;
}


.hero__content {
    height: 294px;
    width: 491px;
}

.hero__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 65.25px;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 18px;
}

.hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #fff;
}

/* about */

.about {
    padding-top: 120px;
    background-color: #fff;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 393px;
}

.about__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    margin-bottom: 27px;
}

.about__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
}

.about__wrapper:nth-child(2) {
    flex-direction: row-reverse;
}

/* partners */

.partners {
    padding-top: 113px;
    padding-bottom: 120px;
    background-color: #fff;
}


.partners__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 66px;
}

.partners__list {
    display: flex;
    justify-content: center;
    gap: 87px;
    align-items: center;
}

.partners__link img {
    width: 110px;
}